body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  color: #272142;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #5c5470;
  text-transform: capitalize;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.link {
  max-width: 600px;
  margin: -20px auto;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-top: unset;
  vertical-align: top;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 600;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
